.links {
  height: 24px;
  background-color: white;
}

.logo-bar {
  height: 70px;
  line-height: 70px;
  background-color: white;
  font-weight: 600;
  padding-left: 30px;
  font-size: 34px;
}

.logo-bar a {
  color: #e94c31;
  position: relative;
  top: -5px;
}

.nav {
  height: 40px;
  background-color: #e94c31;
}

.user-section {
  float: right;
  margin-right: 20px;
}

.left {
  margin-left: 20px;
  display: inline-block;
}

.links a {
  line-height: 24px;
  font-size: 13px;
  color: #e94c31;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  text-decoration: none;
}


.links a:hover {
  background-color: #e94c31;
  color: white;
}
