<div class="links">
  <div class="left">
    <a>Checkers 451</a>
    <a href="/assets/notes.pdf" target="_blank">Release Notes</a>
    <a href="https://github.com/andrew-mainhart/checkers-ui" target="_blank">Angular Repository</a>
    <a href="https://github.com/andrew-mainhart/checkers-rest" target="_blank">Webservice Repository</a>
    <a href="https://jira.checkers451.com" target="_blank">Bug Tracking</a>
  </div>
  <div class="right user-section" *ngIf="currentUser">
    <a>{{currentUser.name}}</a>
  </div>
</div>
<div class="logo-bar">
  <a>Checkers 451</a>
</div>
<div class="nav">

</div>
