.row {
  display: flex;
}

.row > div {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 80px;
}

.spot-play, .spot-not {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9987f;
}

.spot-not {
  background-color: wheat !important;
}

.empty {
  display: none;
}
.checker {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  margin-left: -29px;
  margin-top: -29px;
}
.red { background-color: red; }
.black { background-color: black; }
.selected {
  border: 36px solid lightgray;
  border-radius: 12px;
}
