<div *ngIf="!room">

  <div *ngIf="!currentUser">Please enter your name.<br>

    <input type="text" [(ngModel)]="username"/><br><br>

  </div>
  <div *ngIf="currentUser"> Hello, {{currentUser.name}}.<br> Click to create a new room. <br><br></div>

  <button (click)="newRoom()" [disabled]="!currentUser && username == ''">
    Create New Room
  </button>
</div>
<div *ngIf="room" class="room-code-container">

  <span class="room-code">
    {{room.code}} <br><br>
    <button (click)="goToRoom()">Go To Room</button>
  </span>


</div>
